<div class="hl__big">
	{{#each channel}}
	{{#gte @index compare=../index_start}}
	{{#gte @index compare=../index_end}}
	{{else}}
	<div class="hl__b-item">
		<div class="hl__b-img">
			<div class="hl__b-cat">Headline</div>
			<img src="https://asset.kompas.com/crop/0x0:0x0/740x600/data/photo/{{img}}" alt="{{title}}">
		</div>
		<div class="hl__b-box">
			<h4 class="hl__b-subtitle"><a class="hl__link" href="section.html">{{subtitle}}</a></h4> <date class="hl__b-date">10 menit yang lalu</date>
			<h1 class="hl__b-title"><a class="hl__link" href="artikel.html">{{title}}</a></h1>
			<p class="hl__b-lead">{{lead}}</p>
		</div>
	</div>
	{{/gte}}
	{{else}}
	{{/gte}}
	{{/each}}
</div>
