<div class="hl__big{{#gt total compare=1}} js--big{{/gt}}">
	{{#each channel}}
	{{#gte @index compare=../index_start}}
	{{#gte @index compare=../index_end}}
	{{else}}
	<div class="hl__b-item">
		<a class="hl__link" href="artikel.html">
			<div class="hl__b-img">
				<div class="hl__b-cat">Headline</div>
				<img src="https://asset.kompas.com/crop/0x0:0x0/340x235/data/photo/{{img}}" alt="{{title}}">
				<div class="hl__b-box">
					<h1 class="hl__b-title">{{title}}</h1>
				</div>
			</div>
		</a>
	</div>
	{{/gte}}
	{{else}}
	{{/gte}}
	{{/each}}
</div>
