{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="latest__item">
	{{#eq @index compare=0}}
	<div class="latest__img">
		<a href="artikel-surat.html">
			<img src="https://asset.kompas.com/crop/0x0:0x0/250x150/data/photo/{{img}}" alt="{{title}}">
		</a>
	</div>
	{{/eq}}
	<div class="latest__right">
		<h2 class="latest__title">
			<a href="artikel-surat.html" class="latest__link">{{title}}</a>
		</h2>
		<div class="latest__lead">{{lead}}</div>
		<date class="latest__date">25 September 2019, 23:12 WIB</date>
	</div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}
