{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="latest__item{{#eq @index compare=3}} -noimg{{/eq}} clearfix">
	{{#eq @index compare=3}}
	{{else}}
	<div class="latest__img">
		<a href="artikel.html">
			<img src="https://asset.kompas.com/crop/0x0:0x0/150x155/data/photo/{{img}}" alt="{{title}}">
		</a>
	</div>
	{{/eq}}
	<div class="latest__right">
		{{#eq ads compare=1}}
		<h4 class="latest__subtitle ads__subtitle">Sponsored</h4>
		{{else}}
		<h4 class="latest__subtitle"><a class="latest__link" href="section.html">{{subtitle}}</a></h4> <date class="latest__date">3 menit yang lalu</date>
		{{/eq}}
		<h2 class="latest__title">
			{{#eq ads compare=1}}
			<a href="artikel-sponsored.html" class="latest__link">{{title}}</a>
			{{else}}
			<a href="artikel.html" class="latest__link">{{title}}</a>
			{{/eq}}
		</h2>
		{{#eq ../opinion compare=true}}
		<div class="latest__author"><a href="author.html">Gloria Setyvani Putri</a></div>
		{{else}}
		<div class="latest__lead">{{lead}}</div>
		{{/eq}}
	</div>
</div>
{{/gte}}
{{else}}
{{/gte}}
{{/each}}
